.tag-cloud-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center ;
    margin: -3rem 0;

}

.tagcloud {
    width: auto;
    margin: 0 auto;
  }
  
  .tagcloud--item:hover {
    color: var(--color-primary);
    font-size: 1.4rem;
    font-weight: 500;
  }