.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: var(--color-bg-variant);
  margin-bottom: 3rem;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 0.5rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  margin-top: 0.333rem;
  color: var(--color-primary);
}

.experience__current {
  margin-bottom: 3rem;
}

.experience__current__item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.experience__current__item h6 {
  margin-top: 0.5rem;
  font-size: 0.5rem;
  /* color: var(--color-light); */
}

.h4 {
  text-align: center;
  /* color: var(--color-light); */
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}

.experience__logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.experience__logo {
  font-size: 5rem;
}

span {
  /* color: var(--color-primary) */
}

/* ---------------------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }

  .experience__logos {
    gap: 2rem;
  }

  .experience__current h4 {
    margin-top: 3rem;
  }
}

/* ---------------------------------- MEDIA QUERIES (SMALL DEVICES) -------------------- */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  .experience__container h4 {
    font-size: 0.8rem;
  }

  .experience__container small {
    font-size: 0.6rem;
  }

  .experience__logos {
    gap: 0.5rem;
  }
}
